server {
    listen 0.0.0.0:${NGINX_PORT};
    root ${WEBROOT_PATH};
    location / {
        index index.php;
        try_files $uri $uri/ /index.php?$args;
    }
    location ~ \.php$ {
        include fastcgi_params;
        fastcgi_pass ${PHPFPM_HOST}:${PHPFPM_PORT};
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root/$fastcgi_script_name;
    }
}
